// grayscale
$c-g0: #ffffff;
$c-g8: #0f172a;
$c-g10: #000000;

// primary blue shades
$c-p1: #eff6ff;
$c-p2: #bfdbfe;
$c-p3: #2563eb;

// ---------- Dark mode ----------

// grayscale
$cd-g10: #0b1220;

// primary blue shades (dark mode)
$cd-p1: #111827;
$cd-p2: #1e3a8a;
$cd-p3: #3b82f6;